* {
    padding: 0;
    margin: 0;
}

body {
    background: #0f0e0e;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.clock {
    width: 415px;
    height: 415px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid #fff;
    box-shadow: 0 0 10px #fff;
}

.clock p {
    color: #fff;
    text-shadow: 1px 1px 10px red;
    transform: rotate3d(1 , 1, 0 , 180deg);

}

.clock div {
    position: absolute;
    transform-origin: 50% 0;
    top: 50%;
    padding: 8px;
}